@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "BeautySchoolDropout";
    src: url(fonts/BeautySchoolDropout.ttf) format('truetype');
}

body {
    background-color: #000000;
    position: relative;
}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-flow: column;
    position: sticky;
    top: 0px;
    padding-block: 1.25rem;
    z-index: 99;
    justify-items: center;
    box-shadow: 0 0 20px #2893FF;
    background-image: url('../img/BlueTopBar.jpg');
    background-color: rgba(28, 93, 255, 0.2);
    background-position: center;
    background-blend-mode: lighten;
    background-size: contain;
}

#Title {
    display: flex;
    justify-content: center;
    color: #eff6e0;
    padding: 2rem 2rem 0rem 2rem; 
}

/* #Socials {
    display: flex;
    justify-content: center;
    gap: 10%;
    color: #eff6e0;
    max-width: 100vw;
} */

.names {
    font-family: "BeautySchoolDropout";
    text-shadow: 1px 0 10px #00ff00;
    /* display: inline; */
    font-size: clamp(1.25rem, 3vw, 5rem);
}

#names-subtitle {
    font-size: clamp(.8rem, 2vw, 2.5rem);
}

#intro-header {
    font-size: clamp(1.25rem, 2.5vw, 3.5rem);
}

#intro-subtext {
    font-size: clamp(0.75rem, 2vw, 3rem);
}

.descriptionText {
    font-size: clamp(.8rem, 2vw, 2.5rem);
    color: whitesmoke;
    background-color: rgb(76, 76, 76);
    box-shadow: 0 0 25px #FF184E;
    border-radius: 2rem;
    padding: 1rem;
    overflow-y: scroll;
    max-height: 200px;
}

.projectButton {
    display: block;
    margin: 0 auto;
    padding: 0 0.5rem 0 0.5rem;
    text-align: center;
    background-color: rgb(59,83,92);
    border-radius: 100vw;
    transition: 0.5s ease-in-out;
    box-shadow: -5px 5px /*rgb(12,45,59)*/ #aec3b0;
}

.projectButton:hover {
    transform: scale(1.05, 1.05);
    background-color: rgb(34, 47, 51);
}

#down-arrow {
    position: absolute;
    text-align: center;
    bottom: 20%;
    width: 100vw;
    color: #eff6e0;
    font-size: clamp(1.75rem, 3vw, 5rem);
    animation: up-and-down 1s ease-in-out infinite alternate;
}

@keyframes up-and-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.arrow-button {
    position: absolute;
    justify-content: center;
    align-self: center;
    background-color: rgb(126, 126, 126);
    color: rgb(255 255 255 / 1);
    border-radius: 0.5rem;
    padding: 0.75rem;
    z-index: 50;
    opacity: 60%;
    transform: scale(1.5, 2);
    transition-duration: 500ms;
}

.arrow-button:hover {
    opacity: 90%;
}

.right {
    right: 5%;
    animation: right-and-back 1s ease-in-out infinite alternate;
}
.left {
    left: 5%;
    animation: left-and-back 1s ease-in-out infinite alternate;
}

@keyframes left-and-back {
    0% {
        left: 5%;
    }
    100% {
        left: 6%;
    }
}

@keyframes right-and-back {
    0% {
        right: 6%;
    }
    100% {
        right: 7%;
    }
}

.social-box {
    font-size: 1.875rem;
    line-height: 2.25rem;
    border-radius: 0.75rem;
    background-color: rgb(59,83,92);
}

::-webkit-scrollbar {
    background-color: rgb(140, 140, 140);
    width: .3rem;
    border-radius: 5rem;
}

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5rem;
}

#TopBar {
    transition: all 0.2s ease-in-out;
    @media screen and (max-width: 450px) {
        font-size: 1.25rem;
    }
    @media screen and (max-width: 380px) {
        font-size: 0.95rem;
    }
}

#TopBar:hover {
    font-size: 2rem;
    @media screen and (max-width: 450px) {
        font-size: 1.35rem;
    }
    @media screen and (max-width: 380px) {
        font-size: 1.1rem;
    }
}

#navigator {
    display: grid;
    margin-inline: 1.5rem;
    padding-bottom: 5rem;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow: hidden;
    overscroll-behavior-inline: contain;
}

#Panel {
    height: 500px;
    transition-duration: 1.5s;
    transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 1.15);
}

header {
    position: relative;
    /* background-image: url("../img/BetterBGImage.jpg") ;
    background-color: rgb(23, 23, 23);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    background-blend-mode: lighten;
    @media screen and (max-width: 1000px) {
        background-size: 80%;
    }
    @media screen and (max-width: 650px) {
        background-size: 100%;
    } */
}