@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(23, 23, 23);
    position: relative;
    overflow-x: hidden;
}

.box-shading {
    box-shadow: -8px 8px black;
}

.descriptionText {
    font-size: x-large;
    color: whitesmoke;
    @media screen and (max-width: 1024px) {
        overflow-y: scroll;
        font-size: large;
    }
    @media screen and (max-width: 650px) {
        overflow-y: scroll;
        font-size: medium;
    }
    @media screen and (max-width: 500px) {
        max-height: 250px;
        overflow-y: scroll;
        font-size: small;
    }
}

#TopBar {
    transition: all 0.2s ease-in-out;
}

#TopBar:hover {
    font-size: 1.6rem;
}

#Panel {
    height: 500px;
    transition-timing-function: cubic-bezier(0.075, 0.785, 0.52, 1.475);
}

header {
    background-image: url("../img/BetterBGImage.jpg") ;
    background-color: rgb(23, 23, 23);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    background-blend-mode: lighten;
    @media screen and (max-width: 1000px) {
        background-size: 80%;
    }
    @media screen and (max-width: 650px) {
        background-size: 100%;
    }
}